@using WebUI.Models
@model BooksListViewModel

@{
    ViewBag.Title = "Книги";
}
<div>
    <a href="@Url.Action("Login","Account")"><img src="~/Img/4_01.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_02.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_03.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_04.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_05.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_06.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/4_07.png" /></a><a href="@Url.Action("Login","Account")"><img src="~/Img/8.png" /></a>
</div>


<input type="text" name="filter" placeholder="Input name with search..." />
<span>
    <button type="submit">Search</button>
</span>

@foreach (var book in Model.Books)
{
    @Html.Partial("_BookSummary", book)
}


<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, genre = Model.CurrentGenre }))
</div>
